.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    height: 100vh;
}

.item {
    width: 100px;
    height: 100px;
    background-color: green;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    animation-name: example;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: infinite;


}

body {
    background-color: blue;
}

@keyframes example {
    0% {
        font-size: 50px;
    }

    100% {
        font-size: 80px;
    }
}